@model DepartmentListingViewModel
@inject IViewLocalizer Localizer
@{
    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
}
@foreach (var department in Model.Departments)
{

    <div class="col-md-12">
        <div class="row text-center">
            <p>
                "@{
                if (currentCulture == "bg-BG")
                {
                    @department.DepartmentUnitBg
                }
                else
                {
                    @department.DepartmentUnitEn
                }
                }"
            </p>
            <p>@department.DepartmentEmail</p>
        <div class="row text-center">
            <div class="text-center mr-30-auto width-60pr">
                @if (User.IsInRole(WebConstants.AdministratorRole))
                {
                <a class="btn-sm btn-warning" asp-area="LibraryBlog" asp-controller="Departments" asp-action="Edit" asp-route-id="@department.Id">@Localizer["Edit"]</a>
                <a class="btn-sm btn-danger" asp-area="LibraryBlog" asp-controller="Departments" asp-action="Delete" asp-route-id="@department.Id">@Localizer["Delete"]</a>
                }
            </div>
        </div>
    </div>
    <hr class="lib-hr width-60pr " />
    </div>
}