@model DepartmentListingViewModel
@inject IViewLocalizer Localizer
@{
    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row text-center mr-t-b-25 center-block">
    @if (User.IsInRole(WebConstants.AdministratorRole))
    {
        <a class="btn-sm btn-success mr-l-25" asp-area="LibraryBlog" asp-controller="Departments" asp-action="Create">@Localizer["Create Department"]</a>
        <a class="btn-sm btn-success mr-l-25" asp-area="LibraryBlog" asp-controller="Employees" asp-action="Create">@Localizer["Create Employee"]</a>
    }
</div>
<div class="row m-a-table">
    <table class="table table-condensed table-responsive vertical-align-middle">
        <thead>
            <tr>
                <th class="text-center first-color-b second-color">@Localizer["Department"]</th>
                <th class="text-center first-color-b second-color">@Localizer["Name"]</th>
                <th class="text-center first-color-b second-color">@Localizer["Phone"]</th>
                <th class="text-center first-color-b second-color">@Localizer["Department Email"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var structType in Enum.GetValues(typeof(DepartmentStructureType)))
            {
                <tr>
                    @if (currentCulture == "bg-BG")
                    {
                        <th colspan="4" class="text-center" style="background-color: #29739E; color: #FFEDD8 !important;">@StringExtensions.DepartmentsStructureTypeToBgLang((DepartmentStructureType)structType)</th>
                    }
                    else
                    {
                        <th colspan="4" class="text-center" style="background-color: #29739E; color: #FFEDD8 !important;">@StringExtensions.DepartmentsStructureTypeToEnLang((DepartmentStructureType)structType)</th>                        
                    }
                </tr>
                @foreach (var department in Model.Departments.Where(d => d.DepartmentStructureType.Equals(structType)))
                {

                    <tr>
                        @{
                            var empls = department.Employees;
                            var emplsCount = empls.Count();
                            var expectedCount = emplsCount;
                            if (emplsCount == 0)
                            {
                                expectedCount += 1;
                            }
                        }
                        <th class="text-center first-color-b second-color" style="vertical-align: middle;" rowspan="@expectedCount">
                            @{

                                if (currentCulture == "bg-BG")
                                {
                                    @department.DepartmentUnitBg
                                }
                                else
                                {
                                    @department.DepartmentUnitEn
                                }
                            }
                            @if (User.IsInRole(WebConstants.AdministratorRole))
                            {
                                <div class="inl-flx">
                                    <a class="btn-sm btn-warning mr-l-25" asp-area="LibraryBlog" asp-controller="Departments" asp-action="Edit" asp-route-id="@department.Id">@Localizer["Edit Department"]</a>
                                    <a class="btn-sm btn-danger mr-l-25" asp-area="LibraryBlog" asp-controller="Departments" asp-action="Delete" asp-route-id="@department.Id">@Localizer["Delete Department"]</a>
                                </div>
                            }
                        </th>
                        <td class="vertical-align-middle lib-cell-corrector">
                            @{

                                var phoneNumber = "-";
                                if (emplsCount > 0)
                                {
                                    phoneNumber = empls.First().PhoneNumbers;

                                    if (currentCulture == "bg-BG")
                                    {
                                        @department.Employees.First().NameBg
                                    }
                                    else
                                    {
                                        @department.Employees.First().NameEn
                                    }
                                }
                                else
                                {
                                    @Localizer["No employees"]
                                    ;
                                }


                            }
                            @if (User.IsInRole(WebConstants.AdministratorRole) && emplsCount > 0)
                            {
                                <div class="inl-flx">
                                    <a class="btn-sm btn-warning mr-l-25" asp-area="LibraryBlog" asp-controller="Employees" asp-action="Edit" asp-route-id="@department.Employees.First().Id">@Localizer["Edit Employee"]</a>
                                    <a class="btn-sm btn-danger mr-l-25" asp-area="LibraryBlog" asp-controller="Employees" asp-action="Delete" asp-route-id="@department.Employees.First().Id">@Localizer["Delete Employee"]</a>
                                </div>
                            }
                        </td>
                        <td class="vertical-align-middle lib-cell-corrector">@phoneNumber</td>
                        <td class="vertical-align-middle lib-cell-corrector" rowspan="@expectedCount"><a>@department.DepartmentEmail</a></td>
                    </tr>
                    @foreach (var employee in department.Employees.OrderBy(e => e.Order).Skip(1))
                    {
                        <tr>
                            <td class="vertical-align-middle lib-cell-corrector">
                                @{
                                    if (currentCulture == "bg-BG")
                                    {
                                        @employee.NameBg
                                    }
                                    else
                                    {
                                        @employee.NameEn
                                    }
                                }
                                @if (User.IsInRole(WebConstants.AdministratorRole))
                                {
                                    <div class="inl-flx">
                                        <a class="btn-sm btn-warning mr-l-25" asp-area="LibraryBlog" asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">@Localizer["Edit Employee"]</a>
                                        <a class="btn-sm btn-danger mr-l-25" asp-area="LibraryBlog" asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id">@Localizer["Delete Employee"]</a>
                                    </div>
                                }
                            </td>
                            <td class="vertical-align-middle lib-cell-corrector">@employee.PhoneNumbers</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
