@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Contacts"];
    ViewData["Description"] = Localizer["List with contact information for the staff of Regional Library \'Mihalaki Georgiev\' - Vidin"];
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row p-10-table">
    <table class="table table-condensed table-responsive vertical-align-middle">
        <thead>
            <tr>
                <th colspan="3" class="text-center">@Localizer["Administration"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center first-color-b second-color">@Localizer["Department"]</th>
                <th class="text-center first-color-b second-color">@Localizer["Name"]</th>
                <th class="text-center first-color-b second-color">@Localizer["Phone and Email"]</th>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Director"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Desislava Ivanova"]</td>
                <td class="vertical-align-middle lib-cell-corrector">
                    <p>094/601-704</p>
                    <p>0879 949 204</p>
                    <p>libvidin@vidin.net</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">@Localizer["Accounting and cash desk"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Boris Ivanov"]</td>
                <td class="vertical-align-middle lib-cell-corrector">0896 814 288</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Milena Gergova"]</td>
                <td class="vertical-align-middle lib-cell-corrector">0877 185 273</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Automation"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Ivan Martinov"]</td>
                <td class="vertical-align-middle lib-cell-corrector">
                    <p>0876630366</p>
                    <p>aivan86vd@gmail.com</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Public relations"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Veselka Vitkova"]</td>
                <td class="vertical-align-middle lib-cell-corrector">
                    <p>0876739220</p>
                </td>
            </tr>

            <tr>
                <th colspan="3" class="text-center first-color-b second-color">@Localizer["Service units"]</th>
            </tr>
          
        
            <tr>
                <td class="vertical-align-middle text-center" rowspan="6">@Localizer["Book borrowing"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Valentina Vulcheva"] - @Localizer["head dep."]</td>
                <td class="vertical-align-middle lib-cell-corrector" rowspan="6">
                    <p>094/601-702</p>
                    <p class="word-break">zaemna_vidin@abv.bg</p>
            </tr>
            <tr>
                 
             </tr>
                <tr>
                    <td class="vertical-align-middle lib-cell-corrector">@Localizer["Lidia Velkova"]</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle lib-cell-corrector">@Localizer["Tsvetan Tsekov"]</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle lib-cell-corrector">@Localizer["Snejana Filipova"]</td>
                </tr>
                <tr>
                    <td class="vertical-align-middle lib-cell-corrector">@Localizer["Mihaela Mitkova"]</td>
                </tr>
            
            <tr>
                <td class="vertical-align-middle text-center" rowspan="3">@Localizer["Reading Rooms - Humanities, accurate and applied science, periodicals"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Tatiana Nikolova"] </td>
                <td class="vertical-align-middle lib-cell-corrector" rowspan="3">
                    <p>0879 940 277</p>
                    <p>vidlib.chit@gmail.com</p>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Ludmila Georgieva"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Irena Filipova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="3">@Localizer["Children department"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Adriana Tsvetkova"] - @Localizer["head dep."]</td>
                <td class="vertical-align-middle lib-cell-corrector" rowspan="3">
                    <p>0879 597 148</p>
                    <p>vdkids@abv.bg</p>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Milena Ivanova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Liudmila Spiridonova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">@Localizer["Foreign languages reading room"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Elena Alexandrova"]</td>
                <td class="vertical-align-middle lib-cell-corrector" rowspan="2">
                    <p>0899919988</p>
                    <p>ezikovarbmg@abv.bg</p>
                    <p>0896583601</p>
                </td>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Hristina Sugarcheva"]</td>
            </tr>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Center for information and referential-bibliographic services"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Ivan Martinov"]</td>
                <td class="vertical-align-middle lib-cell-corrector">
                    <p>0876630366</p>
                    <p>aivan86vd@gmail.com</p>
                </td>
            </tr>
            <tr>
                <th colspan="4" class="text-center first-color-b second-color">@Localizer["Specialized units"]</th>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="1">@Localizer["Assembly, Processing and Cataloging"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Manuela Mitkova"]</td>
                <td class="vertical-align-middle lib-cell-corrector" rowspan="1">
                    <p></p>
                    <p>biblvidin@abv.bg</p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">@Localizer["Homeland department"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Natalia Nikolova"]</td>
                <td class="vertical-align-middle lib-cell-corrector" rowspan="2">
                    <p>0879 940 279</p>
                    <p class="word-break">kraeznanie_vidin@abv.bg</p>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Galina Stoianova"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center" rowspan="2">@Localizer["Art"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Iren Cenova"]</td>
                <td class="vertical-align-middle lib-cell-corrector" rowspan="2"
                    <p>0879 940 282</p>
                    <p class="word-break">izkustvo_vidin@abv.bg</p>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Krasimir Krustev"]</td>
            </tr>
            <tr>
                <td class="vertical-align-middle text-center">@Localizer["Methodological"]</td>
                <td class="vertical-align-middle lib-cell-corrector">@Localizer["Dimitrina Dimitrova"]</td>
                <td class="vertical-align-middle lib-cell-corrector">
                <p>0878207711</p>
                </td>
            </tr>

        </tbody>
    </table>
</div>